<!-- src/app/list-albums/list-albums.component.html -->
<h2>Albums</h2>
<div class="row row-cols-1 row-cols-md-2 g-3">
  <div class="col" *ngFor="let album of albums">
    <div class="card h-100" (click)="onSelectAlbum(album)" style="cursor:pointer">
      <img [src]="album.image" class="card-img-top" [alt]="album.title" />
      <div class="card-body">
        <h5 class="card-title">{{ album.title }} ({{ album.year }})</h5>
        <p class="card-text">{{ album.description }}</p>
        <a class="btn btn-sm btn-outline-primary" [routerLink]="['/display', album.albumId]">Details</a>
      </div>
    </div>
  </div>
</div>
